// app global css in SCSS form

.q-item__section--avatar {
  color: inherit;
  min-width: 6px;
}

.q-item__section--side > .q-icon {
  font-size: 1em;
}

.q-item.q-router-link--active,
.q-item--active {
  color: var(--q-white);
}

.q-avatar {
  font-size: 28px;
}

.q-pa-md {
  padding: 16px 16px;
}

.q-list {
  margin-top: 150px;
}

.q-btn:before {
  display: contents;
}

.q-btn:after {
  display: contents;
}

.container {
 padding: 5px;
}


